@import url("./global/body.css");
@import url("./global/main.css");

@import url("./components/brand-header.css");
@import url("./components/intro.css");
@import url("./components/registration.css");
@import url("./components/registration-form.css");
@import url("./components/form-field.css");
@import url("./components/file-upload.css");
@import url("./components/hint.css");
@import url("./components/registration__submit.css");

@import url("./settings/fonts.css");
@import url("./settings/variables.css");
