:root {
  --neutral900: #0d082d;
  --neutral700: #4b4869;
  --neutral500: #8784a5;
  --neutral300: #d1d0d5;
  --white: #ffffff;

  --orange700: #e1604f;
  --orange500: #f57463;
  --gradient01: linear-gradient(90deg, #f37362 0%, #fff 100%);
}
