body {
  min-height: 100vh;
  margin: 0;
  font-family: "Inconsolata";

  background:
    url("../../assets/images/line-element-1.webp") 0 95%/ 70%, url("../../assets/images/circles.webp") 140% 50% / 40%, url("../../assets/images/line-element-2.webp") 100% 5%/ 30%,  top/ cover url("../../assets/images/line_pattern.webp"), center/ cover url("../../assets/images/background.webp");

    background-repeat: no-repeat;
  color: var(--white);
}
