body {
  min-height: 100vh;
  margin: 0;
  font-family: "Inconsolata";

  background:
    url("../../assets/images/line_pattern.webp"),
    url("../../assets/images/background.webp") 100%;
  background-size: cover;
  color: var(--white);
}
