.brand-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-block: 2rem 2.5rem;
}

.brand-heading__logo {
  width: 1.5rem;
  height: 1.5rem;
}

.brand-heading__logo img {
  width: 100%;
  height: auto;
}

.brand-heading__name {
  font-size: 1.25rem;
  font-weight: bold;
}
