.brand-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding-block: 2rem 2.5rem;
}

.brand-header__logo {
  width: 1.5rem;
  height: 1.5rem;
}

.brand-header__logo img {
  width: 100%;
  height: auto;
}

.brand-header__name {
  font-size: 1.25rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .brand-header {
    padding-block: 2.5rem 3.75rem;
  }

  .brand-header__name {
    font-size: 1.5rem;
  }
}
