.file-input {
  padding: 0;
  border: none;
}

.file-input__target {
  text-align: center;
  width: 100%;
  position: relative;
}

.file-input__box {
  width: 100%;
  height: 100%;
}

.file-input__instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.file-input__icon {
  background-color: rgba(255, 255, 255, 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
  border: 1px solid var(--neutral700);
}

.file-input__native {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  border-style: dashed;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -999em;
}

.file-input__native::-webkit-file-upload-button {
  display: none;
}

.file-input__native:focus {
  outline: none;
  box-shadow:
    0 0 0 0.25rem var(--neutral900),
    0 0 0 0.3rem var(--neutral500);
}

.form-field__message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form-field__hint {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--neutral300);
}
