.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form-field__label {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.025em;
}

.form-field__input {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(0.3rem);
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0.75rem;
  border: 1px solid var(--neutral-500);
  transition: background 0.2s ease;
  font-family: "Inconsolata";
  font-size: 1.125rem;
  line-height: 1.2;
  color: var(--neutral-300);
}

.form-field__input:hover {
  background: rgba(255, 255, 255, 0.2);
}

.form-field__input:focus {
  outline: none;
  box-shadow:
    0 0 0 0.25rem var(--neutral-900),
    0 0 0 0.3rem var(--neutral-500);
}
