.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form-field__label {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.025em;
}

.form-field__input {
  background: rgba(255, 255, 255, 8%);
  box-sizing: border-box;
  height: 3.5rem;
  padding: 1rem;
  border-radius: 0.75rem;
  border: 1px solid var(--neutral500);
}

.form-field__input::placeholder {
  font-family: "Inconsolata";
  font-size: 1.125rem;
  line-height: 1.2;
}
