.hint {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hint__message {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--neutral-300);
}

.hint__icon {
  width: 1rem;
  height: 1rem;
}
