.intro {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 2.5rem;
  text-align: center;
  margin-inline: 1rem;
}

.intro__title {
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.1;
  letter-spacing: -0.01em;
  font-weight: 800;
  max-width: 56rem;
}

.intro__description {
  margin: 0;
  color: var(--neutral-300);
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.025em;
}

@media screen and (min-width: 768px) {
  .intro__title {
    font-size: 3.75rem;
  }

  .intro__description {
    font-size: 1.5rem;
  }
}
