.registration__submit {
  background-color: var(--orange-500);

  font-family: "Inconsolata";
  color: var(--neutral-900);
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.015em;

  border-radius: 0.75rem;
  border: none;
  padding: 1rem 1.5rem;
}

.registration__submit:hover {
  background-color: var(--orange-700);
  box-shadow: 0 0.25rem 0 0 var(--orange-500);
}

.registration__submit:focus {
  box-shadow:
    0 0 0 0.25rem var(--neutral-900) inset,
    0 0 0 0.25rem var(--white);
}
