.registration {
  width: 21.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 7.25rem;
}

.registration-form {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .registration {
    width: 32.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .registration {
    width: 28.75rem;
    margin-bottom: 8.5rem;
  }
}
