.submit-btn {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration-form__submit {
  width: 100%;
  height: 100%;
  background-color: var(--orange500);

  font-family: "Inconsolata";
  color: var(--neutral900);
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.015em;

  border-radius: 0.75rem;
  border: none;
  padding: 1rem 1.5rem;
}
