.submit-btn {
  background-color: var(--orange500);

  font-family: "Inconsolata";
  color: var(--neutral900);
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.015em;

  border-radius: 0.75rem;
  border: none;
  padding: 1rem 1.5rem;
}

.submit-btn:hover {
  background-color: var(--orange700);
  box-shadow: 0 0.25rem 0 0 var(--orange500);
}

.submit-btn:focus {
  box-shadow:
    0 0 0 0.25rem var(--neutral900) inset,
    0 0 0 0.25rem var(--white);
}
